In [3]:
# Importar as bibliotecas necessárias
import pandas as pd
# Atribuir o nome da planilha para a variável "arquivo"
arquivo = 'imd_notas.xlsx'
# Carregar a base de dados para um objeto pandas.io.excel.ExcelFile
excel = pd.ExcelFile(arquivo)
# Imprimir o nome das planilhas
print(excel.sheet_names)
# Carregar a planilha excel para um objeto dataframe
dados = excel.parse(0)
# Imprimir as cinco primeiras linhas do dataframe
dados.head()

['Notas']

,a_ID,CEP,ano_ingresso,periodo_ingresso,status,ano_disciplina,periodo_disciplina,nota,disciplina_ID,status.disciplina,enen-nota
0,0,59015430,2014,1,CANCELADO,2014,2,2.6,0,Reprovado,618.0
1,0,59015430,2014,1,CANCELADO,2015,1,8.0,0,Aprovado,618.0
2,1,59073120,2014,1,CANCELADO,2014,2,0.1,0,Reprovado,615.0
3,2,59072580,2014,1,ATIVO,2014,2,6.1,0,Aprovado,600.0
4,3,59088150,2014,1,ATIVO,2014,1,3.0,0,Reprovado,673.0

#### 1) Quantas vezes um aluno precisa fazer uma determinada disicplina para ter aprovação?
a) Por disciplina?

In [59]:

import matplotlib.pyplot as plt
fig, ax = plt.subplots()

In [75]:
#import numpy as np
#disc_aprov = 
dados_aprov = dados.pivot_table(index=["disciplina_ID", "a_ID"], columns= ["status.disciplina"], aggfunc={"status.disciplina":len}, fill_value=0)

                   status.disciplina
status.disciplina           Aprovado Reprovado
disciplina_ID a_ID
0             0                    1         1
              1                    0         1
              2                    1         0
              3                    1         1
              4                    0         2

b) Geral (considerando as 7 disciplinas)?

#### 2) Quais as regiões tem mais índices de aprovação nos componentes curriculares? Hist.

#### 3) Como estão caracterizados a estatística de notas das diversas disciplinas que compoe o dataset? Boxplot
a) Período (ano)

b) Geral

#### 4) Existe correlação entre as notas dos diferentes componentes curriculares? Dispersão

#### 5) Existe uma relação entre o número médio de disciplinas cursadas por aluno e o seu desempenho? Dispersão

#### 6) Existe correlação entre a nota do enem e o status do aluno? Hist.

#### 7) Existe algum componente curricular na base de dados que possui uma alta correlação com os dados do ENEM? Dispersão