## Unidade 01 - Avaliação 01

- **Aluno**: --preencher o nome completo--
- **Matrícula**: --preencer com a matrícula--

<br>
<div class="alert alert-info">
<b>Avisos.</b>
</div>

1. O conceito desta avaliação corresponde a **40% da primeira unidade**. Os assuntos aqui abordados fazem menção as sete primeiras aulas do curso.
2. O notebook deverá ser renomeado para o nome completo do aluno seguindo o formato: Ivanovitch_Medeiros_Dantas_da_Silva.ipynb
3. Todas as questões devem ser respondidas através de códigos escritos em linguagem Python e no espaço destinado para esse fim. Criem células Markdown para destacar quando inicia e termina as questões. 
4. O notebook resultante deverá ser enviado através do Sigaa conforme tarefa cadastrada pelo professor. Ressalta-se que após o horário de final da aula, a submissão da tarefa estará fechada no Sigaa. 
5. O arquivo da base de dados não deve ser alterado.

## Base de dados

Nessa avaliação será utilizado a base de dados referente ao desempenho dos alunos do Instituto Metropole Digital em disciplinas do núcleo comum do curso de Bacharelado em Tecnologia da Informação. As informações sobre os alunos e disciplinas estão codificadas a fim de manter o anonimato e privacidade dos dados. 

A base de dados está em formato de planilha em excel. Para carregar esse arquivo em formato de **dataframe** utilizar o código abaixo: 

>```python
# Importar as bibliotecas necessárias
import pandas as pd
# Atribuir o nome da planilha para a variável "arquivo"
arquivo = 'imd_notas.xlsx'
# Carregar a base de dados para um objeto pandas.io.excel.ExcelFile
excel = pd.ExcelFile(arquivo)
# Imprimir o nome das planilhas
print(excel.sheet_names)
# Carregar a planilha excel para um objeto dataframe
dados = excel.parse(0)
# Imprimir as cinco primeiras linhas do dataframe
dados.head()
```

In [2]:
# Importar as bibliotecas necessárias
import pandas as pd
# Atribuir o nome da planilha para a variável "arquivo"
arquivo = 'imd_notas.xlsx'
# Carregar a base de dados para um objeto pandas.io.excel.ExcelFile
excel = pd.ExcelFile(arquivo)
# Imprimir o nome das planilhas
print(excel.sheet_names)
# Carregar a planilha excel para um objeto dataframe
dados = excel.parse(0)
# Imprimir as cinco primeiras linhas do dataframe
dados.head()

['Notas']

,a_ID,CEP,ano_ingresso,periodo_ingresso,status,ano_disciplina,periodo_disciplina,nota,disciplina_ID,status.disciplina,enen-nota
0,0,59015430,2014,1,CANCELADO,2014,2,2.6,0,Reprovado,618.0
1,0,59015430,2014,1,CANCELADO,2015,1,8.0,0,Aprovado,618.0
2,1,59073120,2014,1,CANCELADO,2014,2,0.1,0,Reprovado,615.0
3,2,59072580,2014,1,ATIVO,2014,2,6.1,0,Aprovado,600.0
4,3,59088150,2014,1,ATIVO,2014,1,3.0,0,Reprovado,673.0

## a) (2.0 pontos) Investigando a base de dados

\#1. (0.2 pontos) Quais as colunas da base de dados?

In [5]:
print(dados.columns)

Index(['a_ID', 'CEP', 'ano_ingresso', 'periodo_ingresso', 'status',
       'ano_disciplina', 'periodo_disciplina', 'nota', 'disciplina_ID',
       'status.disciplina', 'enen-nota'],
      dtype='object')

\#2. (0.5 pontos)Quais colunas apresentam valores nulos (faltantes)? Em caso afirmativo, quantas linhas de cada coluna apresentam valores nulos?

In [8]:
print("As colunas que possuem valores nulos são as que estão a seguir:")
for col in dados.columns:
    nan_amount = sum(dados[col].isnull())
    if nan_amount > 0:
        print("a coluna", col, "possui", nan_amount, "linhas com valores nulos")

As colunas que possuem valores nulos são as que estão a seguir:
a coluna enen-nota possui 289 linhas com valores nulos

\#3. (0.5 pontos) Quantos CEPs diferentes estão presentes na base de dados?

In [31]:
dados["CEP"].unique().shape[0]

627

\#4. (0.4 pontos) Quantos alunos foram registrados?

In [51]:
dados["a_ID"].unique().shape[0]

4842

\#5. (0.2 pontos) Qual o período em anos dos registros presentes na base de dados?

In [33]:
anos_max = dados["ano_ingresso"].max() if dados["ano_ingresso"].max() > dados["ano_disciplina"].max() else dados["ano_disciplina"].max()
anos_min = dados["ano_ingresso"].min() if dados["ano_ingresso"].min() < dados["ano_disciplina"].min() else dados["ano_disciplina"].min()
print("O período registrado é", anos_min,"-",anos_max)

O período registrado é 2014 - 2017

\#6. (0.2 ponto) Quantas disciplinas foram analisadas?

In [34]:
print("Foram analizadas", dados["disciplina_ID"].unique().shape[0], "disciplinas")

Foram analizadas 7 disciplinas

## b) (2.0 pontos) Investigando a localização dos alunos


1. (2.0 pontos) Listar a quantidade total de alunos presentes nos cinco CEPs com mais registros.

<dica - consultar as funções duplicated() e value_counts()

In [60]:
dados_alunos_uni = dados.drop_duplicates(subset=("a_ID"),keep="first", inplace=False)
ceps_populares = dados_alunos_uni["CEP"].value_counts()[0:5].keys()
quant_alunos_cep = 0
for cep in ceps_populares:
    quant_alunos_cep += dados_alunos_uni.loc[dados["CEP"] == cep].shape[0]
print("Há", quant_alunos_cep, "alunos nos 5 CEPs mais populares")

Há 141 alunos nos 5 CEPs mais populares

366      6.2
1727     6.8
1740     9.2
1877     9.0
2104     3.1
3585     6.3
3601    10.0
3626     8.4
3825     8.3
Name: nota, dtype: float64

## c) (6.0 pontos) Investigando o desempenho das disciplinas

\#1. (1 ponto) Calcular as notas médias para cada disciplina.

In [88]:
disciplinas = dados["disciplina_ID"].unique()
medias_disc = {}
for disc in disciplinas:
    medias_disc[disc] = sum(dados.loc[dados["disciplina_ID"] == disc]["nota"]) / len(dados.loc[dados["disciplina_ID"] == disc])
pd.Series(medias_disc)

0    4.618657
1    6.539691
2    4.713848
3    3.488725
4    5.431602
5    3.171392
6    4.067869
dtype: float64

\#2. (1,5 pontos) Calcular as notas médias para cada disciplina agrupadas por ano.

In [94]:
import numpy as np
disc_anos = dados.pivot_table(index="disciplina_ID", values="nota", aggfunc=np.mean)
disc_anos

disciplina_ID
0    4.618657
1    6.539691
2    4.713848
3    3.488725
4    5.431602
5    3.171392
6    4.067869
Name: nota, dtype: float64

\#3. (2,0 pontos) Calcular o número de alunos aprovados e reprovados por disciplina e agrupados por ano.

In [96]:
alunos_aprov = dados.pivot_table(index="disciplina_ID", values="status", aggfunc='count')
alunos_aprov

disciplina_ID
0    670
1    776
2    816
3    541
4    674
5    783
6    582
Name: status, dtype: int64

\#4. (1,5 pontos) Calcular a quantidade de alunos classificados de acordo com a coluna status da base de dados.

In [ ]:
# <inserir o seu código aqui>